* {
    box-sizing: border-box;
}

body {
    margin: 12vh 5vh;
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    background-color: #0c111b;
    /* width: 100%; */
    /* height: 100%; */

}

h1 {
    color: white;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 12px;

}

.container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 5vh;
    /* border: 1px solid white; */

}

.container2 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 5vh;
    padding: 5px;
}

.container3 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 5vh;
    padding: 5px;
}


.container4 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 5vh;
    padding: 5px;
    
}

.movieDiv {
    width: 350px;
    height: 250px;
    padding: 24px;
    /* background-color: #fff; */
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: .6s ease-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0, 0.5);
    margin-left: 30px;
    border-radius: 5px;
    /* border: 1px solid white; */
}

.movieDiv:hover {
    /* transform: translateX(1px); */
    transform: scale(1.3);
}

.movieDiv:hover:before {
    opacity: 1;
}

.movieDiv:hover .imageDescrip {
    opacity: 0.9;
    transform: translateY(0);
    margin-top: -80px;
    margin-left: -10px;
    /* border-bottom: 1px solid white; */
    border-radius: 5px;
    /* background-color: red; */
    opacity: 1;
}

.movieDiv:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: linear-gradient(to top, #000, transparent);
    z-index: 2;
    transition: 0.5s;
    opacity: 10;
}


.movieDiv img {
    width: 112%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover
}



.movieDiv .imageDescrip {
    position: absolute;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateX(10px);
    transition: 0.5s;
    margin-top: -210px;
    margin-left: -12px;
    /* border: 2px solid #fff; */
    background-color: #0c111b;
    width: 100%;
    font-size: 11px;



    /* transform: none; */
    outline: rgb(255, 255, 255) none 10px;
    box-sizing: border-box;
}

.imageDescrip a {
    width: 30px;
    height: 30px;
    /* display: inline-block; */
    border: 1px solid red;
    text-decoration: none;
}
