body{
    margin:0%;
    padding:0%;
}
.front__carousol img{
    width:80%;
    height:80%;
}
.background{
    background-color: #0c111b;
    height:80vh;
    width: 87.7vw;
    padding: 10px 0 0 10px;
    margin: 2px;

}
.card__container::-webkit-scrollbar {
    display: none;
    }
.card__container{
    height:49vh;
    margin-top: 15px;
    display: flex;
    max-width: 90vw;
    overflow-x: scroll;
    scroll-behavior: smooth;
    background-color: #0c111b;

}
.cards{
    height:86%;
    min-width: 14%;
    background-color:#0c111b;
    padding: 0px 5px ;
    margin:0px 5px 0px 0px;
    border: 1px solid #0c111b;
}
.cards>img{
    height:78%;
    width:90%
}
h3{
    font-family: sans-serif;
    font-size: 18px;
    color:#fff;
    font-weight: 300;
}
.inner__card{
    font-family: sans-serif;
}
.inner__card>ul{
    list-style-type: none;
    margin:0%;
    padding:0%;
    display: flex;
    justify-content: space-between;
}
.inner__card>ul>li{
    display: inline;
    font-size:14px
}
.inner__card>ul>li:first-of-type{
    color:#333;
}
.inner__card>ul>li:last-of-type{
    border: 1px solid #dc3226;
    padding: 5px 15px;
    color: #dc3226;
}
.inner__card>ul>li>p{
    margin: 0%;
    font-size:12px;
    color: #a2a2a2;
}
/* margin-top: 120px; */

.extra>div{
    margin: 0%;
}
.extra h3{
    margin: 0px 0px 7px 0px;
    color: white;
    font-size: 32px;
}
.fontawesome__circle{
    padding: 15px 25px;
    border-radius: 50%;
    border: 1px solid white;
    
    display: inline-block;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 52px;
}
.far{
    color: white;
    /* border: 1px solid red;    */
}
.extra__bottom{
    display: flex;
    justify-content: space-between;
}
.buttons{
    margin-right: 280px;
}

/* <!-- <-----------------carousel start---------------------->  */
    .mySlides {
display: none
}

.slideshow-container {
width: 25vw;
height: 20%;
position: relative;
margin: 5px auto;
}


/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 45%;
width: auto;
padding: 16px;
margin-top: 10px;
margin-left: 240px;
color: #0c111b;
font-weight: bold;
font-size: 18px;
transition: 0.3s ease;
border-radius: 0 5px 3px 0;
user-select: none;  
}

.next {
    right: 0;
    border-radius: 10px 0 0 5px;
    color: white;
}
.prev {
    border-radius: 0 10px 10px 0;
    color: white;

}


/* Number text (1/3 etc) */
/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 7px;
width: 7px;
margin: 10 2px;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}
.active {
background-color: #717171;
}
/* Fading animation */
 .fade { 
 -webkit-animation-name: fade; 
 -webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}
@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}
@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
} 
.slideshow-container img{
height:180%;
width: 100%;
border-radius: 20px;
vertical-align: middle;
}