* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(12, 17, 27);
}

#cont {
    height: 350px;
    margin-left: 5%;
    margin-top: -15em;
    width: 86%;
    position: absolute;
    background-color: rgb(7, 9, 14);
    
 

}

#movie {

    height: 480px;
    margin-left: 60px;
    margin-right: 60px;

    display: flex;
}

#image{
   opacity: 0.7;
}

#content {
    /* border: 2px solid rgb(122, 12, 233);  */
    height: 480px;

    float: left;
}

.bottom-left {
    position: absolute;
    bottom: 30px;
    left: 16px;
    color: white;
    display: flex;
    /* justify-content: space-between; */
    gap: 200px;
   
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
}

#small_btn_icon {
    display: flex;
    gap: 10px;
}
.text_box{
    width: 75%; 
    padding: 40px;
    opacity: 0.9;
    
    /* background-color: rgb(12, 17, 27) ; */
   

}
#main_div{
    display: flex;
   
   
    
}
#small_icons{
    display: flex;
    gap: 50px;
    margin-top: 40px;
    
}
.share_icon{
    margin-top: 10px;
}
#suggestions_display{
    display: flex;
    gap: 10px;
    position: relative;
    color: white;
   
}
.p_tag{
    margin-top: 20%;
    color: white;
    padding: 20px;
    
}

#images{
    border-radius: 5px;
    position: relative;
    height:185px;
    width:255px;
    
}
#images:hover{
   
        cursor: pointer;
        transform: scale(1.2);
        top: 0px;
        right: 0px;
        display: inline-block;
        z-index: 1;
        box-sizing: border-box;
        /* transition: font-size 0.25s ease-in os; */

      
}
.p_tag{
    cursor: pointer;
    font-size: 20px;
    /* line-height: 22px;  */
    /* text-decoration: none solid rgb(31,128,224);  */
    
    /* background-color: #FFFFFF; */
    /* background:0% 0%; */
    /* transform: none; */
    /* transition: all 0s ease 0s;   */

}




