
    .starFooter{
        font-size: 14px;
        color:#ffffff;
        cursor: pointer;
        flex: 1;
        display: flex;
        margin: 12px
    }
    .starFooter > li {
        text-align: center;
        margin: 12px;
        list-style: none;
     }
    .starFooter > p {
        margin: 0px 45px;
    }
    li > a  {
        color: #fff;
        text-decoration: none;
        margin-left: 10px;
    }

    .hotstarFooter{
        display: flex;
        flex: 1;
        flex-direction: row;
        /* border: 1px solid green; */
        justify-content: space-around;
    }
    .hotstarFooterLink{
        /* border: 1px solid red;  */
        margin: 20px;  
    }
    .hotstarFooterLink > p{
        color: #dadada;
        /* text-align: center; */
    }
    .hotstarFooterLink > img{
        width: 50px;

    }
    .hotstarFooterLink2 > img{
        width: 50px;
        height: 42px;
        margin-left: -10px;
    }
    .footersHotstar{
        background-color: #0c111b;
        border-radius: 5px;
    }